@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
     font-family: 'Roboto', sans-serif;
}

a {
     text-decoration: underline;
}

p {
     margin: 0.75rem 0;
}